html body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
/*grid shit*/
main {
    display: grid;
    grid-template-columns:[col1] 5fr [col2] 8fr [col3] 4fr [end];
    grid-template-rows:[row1] 1fr [row2] 3fr [row3] 3fr [row4] 3fr [end];
    max-height: 100vh;
}
header {
    padding-left: 0.2em;
    font-size: 2rem;
    font-weight: bold;    
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}
#myName{
    margin: 0;
    padding-right: 0.2em;
    font-size: 2rem;
    font-weight: bold;  
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    align-self: center;
}
article {
    margin-left: 20px;
    font-size: 1.2rem;
    grid-column: 1;
    grid-row: 2 / span 3;
    overflow-y: scroll;
}
#midImg {
    grid-column: 2;
    grid-row: 2 / span 3;
    align-self: center;
    height: 75%;
}
#rightTopImg {
    grid-column: 3;
    grid-row: 2 / span 2;
}
#rightBotImg {
    grid-column: 3;
    grid-row: 4;
}
#buttonDiv {
    grid-column: 2;
    grid-row: 4;
    align-self: end;
    justify-self: start;
    align-items: end;
    justify-items: start;
}
/* basic responsiveness for your smartphone viewing pleasure*/
@media only screen and (max-width: 640px) {
main {
    display: grid;
    grid-template-columns:[col1] 5fr [col2] 2fr [end];
    grid-template-rows:[row1] 2fr [row2] 5fr [row3] 5fr [row4] 2fr [end];
    max-height: 100vh;    
}
header {
    padding-left: 0.2em;
    font-size: 2rem;
    font-weight: bold;    
    grid-column: 1;
    grid-row: 1;
    align-self: baseline;
}
#myName{
    margin: 0;
    padding-left: 0.2em;
    font-size: 2rem;
    font-weight: bold;  
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}
article {
    margin-left: 20px;
    font-size: 1.2rem;
    grid-column: 1;
    grid-row: 2;
    overflow-y: scroll;
}
#midImg {
    grid-column: 1;
    grid-row: 3;
    align-self: center;
    height: 100%;
}
#rightTopImg {
    grid-column: 2;
    grid-row: 1 / span 3;
}
#rightBotImg {
    grid-column: 2;
    grid-row: 4;
}
#buttonDiv {
    grid-column: 1;
    grid-row: 4;
    align-self: end;
    justify-self: start;
    align-items: end;
    justify-items: start;
}
}
@media only screen and (max-width: 467px) {
#myName{
    margin: 0;
    padding-left: 0.2em;
    font-size: 2rem;
    font-weight: bold;  
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: end;
}
}
/*cute text styling*/
#littleTitle {
    letter-spacing: 5px;
    text-shadow: 2px 2px red;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
#littleTitle2 {
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px blue;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
.whisperText {
    opacity: 0.75;
}
#canvasText {
    color: lightcoral;
    font-family: cursive;
    font-size: 1.5rem;
}
.drawMode {
    color: violet;
    font-family: fantasy;
}
.synthMode {
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#littleTitle3 {
    letter-spacing: 5px;
    text-shadow: 0px 0px 5px yellow;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: double;    
}